[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "AccountAbstraction/lib/foundry-era-contracts"]
	path = AccountAbstraction/lib/foundry-era-contracts
	url = https://github.com/Cyfrin/foundry-era-contracts
